@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/OverusedGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Overused Grotesk";
  src: url("/fonts/OverusedGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #edeae9;
  --foreground: #121516;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131212;
    --foreground: #bed8bb;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
